<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staches</key>
	<array>
		<dict>
			<key>title</key>
			<string>Best example 1</string>
			<key>baseName</key>
			<string>greenRect</string>
			<key>baseNameIpad</key>
			<string>burt1-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Best example 2</string>
			<key>baseName</key>
			<string>greenRect1</string>
			<key>baseNameIpad</key>
			<string>charlie1-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Best example 3</string>
			<key>baseName</key>
			<string>greenRect2</string>
			<key>baseNameIpad</key>
			<string>elliot1-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Best example 4</string>
			<key>baseName</key>
			<string>greenRect3</string>
			<key>baseNameIpad</key>
			<string>fu1-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Best example 5</string>
			<key>baseName</key>
			<string>greenRect4</string>
			<key>baseNameIpad</key>
			<string>groucho1-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Best example 6</string>
			<key>baseName</key>
			<string>greenRect5</string>
			<key>baseNameIpad</key>
			<string>khan1-ipad</string>
		</dict>
	</array>
	<key>banners</key>
	<array/>
</dict>
</plist>
