<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staches</key>
	<array>
		<dict>
			<key>title</key>
			<string>Burt</string>
			<key>baseName</key>
			<string>burt</string>
			<key>baseNameIpad</key>
			<string>burt-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Charlie</string>
			<key>baseName</key>
			<string>charlie</string>
			<key>baseNameIpad</key>
			<string>charlie-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Sam</string>
			<key>baseName</key>
			<string>elliot</string>
			<key>baseNameIpad</key>
			<string>elliot-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Fu</string>
			<key>baseName</key>
			<string>fu</string>
			<key>baseNameIpad</key>
			<string>fu-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Groucho</string>
			<key>baseName</key>
			<string>groucho</string>
			<key>baseNameIpad</key>
			<string>groucho-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Khan</string>
			<key>baseName</key>
			<string>khan</string>
			<key>baseNameIpad</key>
			<string>khan-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Mario</string>
			<key>baseName</key>
			<string>mario</string>
			<key>baseNameIpad</key>
			<string>mario-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>McBee</string>
			<key>baseName</key>
			<string>mcbee</string>
			<key>baseNameIpad</key>
			<string>mcbee-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Ned</string>
			<key>baseName</key>
			<string>ned</string>
			<key>baseNameIpad</key>
			<string>ned-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Poirot</string>
			<key>baseName</key>
			<string>poirot</string>
			<key>baseNameIpad</key>
			<string>poirot-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rollie</string>
			<key>baseName</key>
			<string>rollie</string>
			<key>baseNameIpad</key>
			<string>rollie-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Tom</string>
			<key>baseName</key>
			<string>tom</string>
			<key>baseNameIpad</key>
			<string>tom-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Erak</string>
			<key>baseName</key>
			<string>erak</string>
			<key>baseNameIpad</key>
			<string>erak-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Tsaiclip</string>
			<key>baseName</key>
			<string>tie-clip</string>
			<key>baseNameIpad</key>
			<string>tie-clip-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Yeats</string>
			<key>baseName</key>
			<string>yeats</string>
			<key>baseNameIpad</key>
			<string>yeats-ipad</string>
		</dict>
	</array>
	<key>banners</key>
	<array/>
</dict>
</plist>
