<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staches</key>
	<array>
		<dict>
			<key>title</key>
			<string>Apu</string>
			<key>baseName</key>
			<string>apu</string>
			<key>baseNameIpad</key>
			<string>apu-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Bull</string>
			<key>baseName</key>
			<string>bull</string>
			<key>baseNameIpad</key>
			<string>bull-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Captain</string>
			<key>baseName</key>
			<string>captain</string>
			<key>baseNameIpad</key>
			<string>captain-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Chancellor</string>
			<key>baseName</key>
			<string>chancellor</string>
			<key>baseNameIpad</key>
			<string>chancellor-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Dastardly</string>
			<key>baseName</key>
			<string>dastardly</string>
			<key>baseNameIpad</key>
			<string>dastardly-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Dugan</string>
			<key>baseName</key>
			<string>dugan</string>
			<key>baseNameIpad</key>
			<string>dugan-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Enrico</string>
			<key>baseName</key>
			<string>enrico</string>
			<key>baseNameIpad</key>
			<string>enrico-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Floyd</string>
			<key>baseName</key>
			<string>floyd</string>
			<key>baseNameIpad</key>
			<string>floyd-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Grosky</string>
			<key>baseName</key>
			<string>grosky</string>
			<key>baseNameIpad</key>
			<string>grosky-ipad</string>
		</dict>
	</array>
	<key>banners</key>
	<array>
		<string>01</string>
		<string>02</string>
		<string>01-ipad</string>
		<string>02-ipad</string>
	</array>
</dict>
</plist>
