<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staches</key>
	<array>
		<dict>
			<key>title</key>
			<string>Ira</string>
			<key>baseName</key>
			<string>broken-glasses</string>
			<key>baseNameIpad</key>
			<string>broken-glasses-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Eyepatch</string>
			<key>baseName</key>
			<string>eyepatch</string>
			<key>baseNameIpad</key>
			<string>eyepatch-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Jonny</string>
			<key>baseName</key>
			<string>jonnybeard</string>
			<key>baseNameIpad</key>
			<string>jonnybeard-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Mole</string>
			<key>baseName</key>
			<string>mole</string>
			<key>baseNameIpad</key>
			<string>mole-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Piercing</string>
			<key>baseName</key>
			<string>septum-piercing</string>
			<key>baseNameIpad</key>
			<string>septum-piercing-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Ambrose</string>
			<key>baseName</key>
			<string>sideburns</string>
			<key>baseNameIpad</key>
			<string>sideburns-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Tattoo</string>
			<key>baseName</key>
			<string>tattoo-mike-tyson</string>
			<key>baseNameIpad</key>
			<string>tattoo-mike-tyson-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Unibrow</string>
			<key>baseName</key>
			<string>unibrow</string>
			<key>baseNameIpad</key>
			<string>unibrow-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Sparky</string>
			<key>baseName</key>
			<string>wispymustache</string>
			<key>baseNameIpad</key>
			<string>wispymustache-ipad</string>
		</dict>
	</array>
	<key>banners</key>
	<array/>
</dict>
</plist>
