<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staches</key>
	<array>
		<dict>
			<key>title</key>
			<string>Antonio</string>
			<key>baseName</key>
			<string>antonio</string>
			<key>baseNameIpad</key>
			<string>antonio-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Audie</string>
			<key>baseName</key>
			<string>audie</string>
			<key>baseNameIpad</key>
			<string>audie-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Daryl</string>
			<key>baseName</key>
			<string>daryl</string>
			<key>baseNameIpad</key>
			<string>daryl-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Dirk</string>
			<key>baseName</key>
			<string>dirk</string>
			<key>baseNameIpad</key>
			<string>dirk-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Gray</string>
			<key>baseName</key>
			<string>gray</string>
			<key>baseNameIpad</key>
			<string>gray-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Hank</string>
			<key>baseName</key>
			<string>hank</string>
			<key>baseNameIpad</key>
			<string>hank-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Harold</string>
			<key>baseName</key>
			<string>harold</string>
			<key>baseNameIpad</key>
			<string>harold-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Murphy</string>
			<key>baseName</key>
			<string>murphy</string>
			<key>baseNameIpad</key>
			<string>murphy-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Weatherly</string>
			<key>baseName</key>
			<string>weatherly</string>
			<key>baseNameIpad</key>
			<string>weatherly-ipad</string>
		</dict>
	</array>
	<key>banners</key>
	<array>
		<string>01</string>
		<string>02</string>
		<string>01-ipad</string>
		<string>02-ipad</string>
	</array>
</dict>
</plist>
