<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staches</key>
	<array>
		<dict>
			<key>title</key>
			<string>Beaman</string>
			<key>baseName</key>
			<string>beaman</string>
			<key>baseNameIpad</key>
			<string>beaman-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Casada</string>
			<key>baseName</key>
			<string>casada</string>
			<key>baseNameIpad</key>
			<string>casada-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Clint</string>
			<key>baseName</key>
			<string>clint</string>
			<key>baseNameIpad</key>
			<string>clint-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Grubb</string>
			<key>baseName</key>
			<string>grubb</string>
			<key>baseNameIpad</key>
			<string>grubb-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Jed</string>
			<key>baseName</key>
			<string>jed</string>
			<key>baseNameIpad</key>
			<string>jed-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Jenkins</string>
			<key>baseName</key>
			<string>jenkins</string>
			<key>baseNameIpad</key>
			<string>jenkins-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Stinson</string>
			<key>baseName</key>
			<string>stinson</string>
			<key>baseNameIpad</key>
			<string>stinson-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Wilson</string>
			<key>baseName</key>
			<string>wilson</string>
			<key>baseNameIpad</key>
			<string>wilson-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Wright</string>
			<key>baseName</key>
			<string>wright</string>
			<key>baseNameIpad</key>
			<string>wright-ipad</string>
		</dict>
	</array>
	<key>banners</key>
	<array>
		<string>01</string>
		<string>02</string>
	</array>
</dict>
</plist>
