<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staches</key>
	<array>
		<dict>
			<key>title</key>
			<string>Baxter</string>
			<key>baseName</key>
			<string>baxter</string>
			<key>baseNameIpad</key>
			<string>baxter-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Buddy</string>
			<key>baseName</key>
			<string>buddy</string>
			<key>baseNameIpad</key>
			<string>buddy-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Buster</string>
			<key>baseName</key>
			<string>buster</string>
			<key>baseNameIpad</key>
			<string>buster-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Creekmore</string>
			<key>baseName</key>
			<string>creekmore</string>
			<key>baseNameIpad</key>
			<string>creekmore-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Errol</string>
			<key>baseName</key>
			<string>errol</string>
			<key>baseNameIpad</key>
			<string>errol-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Smitty</string>
			<key>baseName</key>
			<string>smitty</string>
			<key>baseNameIpad</key>
			<string>smitty-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Sparrow</string>
			<key>baseName</key>
			<string>sparrow</string>
			<key>baseNameIpad</key>
			<string>sparrow-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Tipton</string>
			<key>baseName</key>
			<string>tipton</string>
			<key>baseNameIpad</key>
			<string>tipton-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Watson</string>
			<key>baseName</key>
			<string>watson</string>
			<key>baseNameIpad</key>
			<string>watson-ipad</string>
		</dict>
	</array>
	<key>banners</key>
	<array>
		<string>01</string>
		<string>02</string>
	</array>
</dict>
</plist>
