<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staches</key>
	<array>
		<dict>
			<key>title</key>
			<string>Butcher</string>
			<key>baseName</key>
			<string>butcher</string>
			<key>baseNameIpad</key>
			<string>butcher-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Dali</string>
			<key>baseName</key>
			<string>dali</string>
			<key>baseNameIpad</key>
			<string>dali-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Depp</string>
			<key>baseName</key>
			<string>depp</string>
			<key>baseNameIpad</key>
			<string>depp-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Ditka</string>
			<key>baseName</key>
			<string>ditka</string>
			<key>baseNameIpad</key>
			<string>ditka-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Earnhardt</string>
			<key>baseName</key>
			<string>earnhardt</string>
			<key>baseNameIpad</key>
			<string>earnhardt-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Earp</string>
			<key>baseName</key>
			<string>earp</string>
			<key>baseNameIpad</key>
			<string>earp-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Hogan</string>
			<key>baseName</key>
			<string>hogan</string>
			<key>baseNameIpad</key>
			<string>hogan-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Prince</string>
			<key>baseName</key>
			<string>prince</string>
			<key>baseNameIpad</key>
			<string>prince-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>T</string>
			<key>baseName</key>
			<string>mrT</string>
			<key>baseNameIpad</key>
			<string>mrT-ipad</string>
		</dict>
	</array>
	<key>banners</key>
	<array>
		<string>01</string>
		<string>02</string>
	</array>
</dict>
</plist>
