<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staches</key>
	<array>
		<dict>
			<key>title</key>
			<string>Midas</string>
			<key>baseName</key>
			<string>midas</string>
			<key>baseNameIpad</key>
			<string>midas-ipad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Twain</string>
			<key>baseName</key>
			<string>twain</string>
			<key>baseNameIpad</key>
			<string>twain-ipad</string>
		</dict>
	</array>
	<key>banners</key>
	<array>
		<string>01</string>
		<string>02</string>
	</array>
</dict>
</plist>
